body{
  width: 100%;
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
}
table {
  position: relative;
  border-collapse: collapse;
  width: 80%;
  margin:10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-collapse: collapse;
  resize:both;
  overflow: auto;
  z-index: 1;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;
  cursor: pointer;
}
th{
  
  height: 80px;
}
img{  
  width: 30px;
  object-fit:contain;
  height: 30px;
  margin-right: 10px;
  border-radius: 20%;
}
td > * {
  vertical-align : middle;
}
tr:not(:first-child):hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 27px 0 rgba(20, 20, 20, 0.19);
}
img:hover{
  width:40px;
  height: 40px;
  object-fit: contain;
}
.load {
  margin: 20% 45%;
  border: 12px solid #f3f3f3; 
  border-top: 16px solid #2d065f; 
  border-bottom: 16px solid#2d065f;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}