body{
  width: 100%;
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
}
table {
  position: relative;
  border-collapse: collapse;
  width: 80%;
  margin:10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-collapse: collapse;
  resize:both;
  overflow: auto;
  z-index: 1;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;
  cursor: pointer;
}
img{  
  width: 30px;
  object-fit:contain;
  height: 30px;
  margin-right: 10px;
  border-radius: 20%;
}
td > * {
  vertical-align : middle;
}